Lista1/.vscode/ipch/df773ff838a69937/mmap_address.bin
Lista1/.vscode/ipch/949e3eee54cf1298/main.ipch
Lista1/.vscode/ipch/949e3eee54cf1298/mmap_address.bin
Lista1/.vscode/ipch/df7738f838a68d52/funcoes.ipch
Lista1/.vscode/ipch/df7738f838a68d52/mmap_address.bin
Lista1/.vscode/ipch/f84947e8a755eb57/mmap_address.bin
Lista1/funcoes.o
.vscode/ipch/40f53012ee64dde7/mmap_address.bin
.vscode/ipch/40f53012ee64dde7/FUNCOES.ipch
.vscode/ipch/9cefc9d0b3388b3b/MAIN.ipch
.vscode/ipch/9cefc9d0b3388b3b/mmap_address.bin
